.contacts-chat-window {
  display: flex;
  background-color: #1e1c1c;
}

.contacts-container {
  margin-top: 6.5vh;
  flex: 40.2%;
  height: calc(100vh - 50px);
  border-right: 1px solid #fff;
  color: #fff;
  background-color: red;
}

.contacts-container .input-form {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}

.contacts-container input {
  color: #fff;
  flex: 60%;
  font-size: 15px;
  background-color: #464242;
  border-radius: 5px;
  padding: 10px;
}

#add-contact {
  cursor: pointer;
  margin-left: 1em;
  flex: 10%;
  background-color: #fff;
  color: #1e1c1c;
  transition: 0.3s ease-in-out;
}

#add-contact:hover {
  background-color: #5e5959;
  color: #fff;
}

.contacts-container .contacts-list {
  padding: 10px;
  margin-top: 10px;
}

.contacts-container .contacts-list ul {
  height: calc(100vh - 6.5vh - 50px - 30px - 50px);
  overflow-y: scroll;
  border: 1px solid #464242;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  list-style: none;
}

.contacts-container .contacts-list ul::-webkit-scrollbar {
  background-color: red;
  display: ruby-base-container;
}

.contacts-container .contacts-list button {
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border: 0;
  background-color: #1e1c1c;
  color: white;
  width: 100%;
  height: 50px;
  transition: 0.3s ease-in-out;
  border: 1px solid #464242;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.contacts-container .contacts-list button:hover {
  background-color: #fff;
  color: #1e1c1c;
}

.chat-container {
  width: 70%;
  height: 100%;
}

.chat-container h1 {
  border: 1px solid #464242;
  text-align: center;
  color: #fff;
}
