.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

#heading {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: rgb(0, 255, 200);
  font-size: 1.2em;
  background-color: inherit;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  margin-bottom: 5px;
  transition: 0.2s ease-in-out;
}

.field input::placeholder {
  color: rgba(0, 250, 200, 0.3);
}

.field:hover {
  box-shadow: inset 2px 5px 10px rgba(0, 255, 200, 0.1);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(0, 255, 200);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: rgb(0, 255, 200);
}

.form .btn {
  background-color: inherit;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.5em;
}

.form .btn button {
  width: 100px;
  height: auto;
  transition: 0.3s ease-in-out;
}

.button1 {
  height: auto;
  width: 40px;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;

  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button1:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}

.button2 {
  height: auto;
  width: 40px;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button2:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  margin-bottom: 2.5em;
  cursor: pointer;
}

.button3:hover {
  background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
  color: rgb(255, 255, 255);
}

.card {
  height: auto;
  max-height: calc(100vh - 20px);
  overflow-y: scroll;
  width: auto;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  filter: blur(0.4px) brightness(0.8);
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.1);
}

.card::-webkit-scrollbar {
  display: none;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.5);
  filter: blur(0px) brightness(0.8);
}

.account-present-already {
  background-color: #171717;
  padding: 10px;
  color: rgb(0, 255, 200);
  display: flex;
}

.account-present-already p,
.account-present-already a {
  white-space: nowrap;
  text-align: center;
  background-color: inherit;
}

.account-present-already a {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  margin-left: 10px;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.account-present-already a:hover {
  background-image: linear-gradient(163deg, #3700ff 0%, #00ff75 100%);
  scale: 1.1;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  background-color: inherit;
  display: flex;
  overflow: visible;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-size: 20px;
  user-select: none;
}

.checkbox-label {
  background-color: inherit;
  overflow: visible;
}

.checkbox-container p {
  margin-left: 10px;
}

.checkbox-container p,
.checkbox-container a {
  color: white;
  font-size: 10px;
  white-space: nowrap;
}

.checkmark {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background: black;
  box-shadow: -10px -10px var(--spread) 0px #00ff75,
    0 -10px var(--spread) 0px #3700ff, 10px -10px var(--spread) 0px #a034df,
    10px 0 var(--spread) 0px #00ff75, 10px 10px var(--spread) 0px #37e842,
    0 10px var(--spread) 0px #31aece, -10px 10px var(--spread) 0px #4b27ee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
